<!DOCTYPE html>
<html>
<head>
	<title>Admin Dashboard</title>
	<link rel="stylesheet" type="text/css" href="css/Dashboard.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<section>
	<div class="sidebar">
		<h1 class="logo">MGK DIESEL</h1>

		<ul class="nav">
			<li class="active"><a href="/dashboard"><i class="fa fa-windows"></i> Dashboard</a></li>
			<li><a href="/dashboardcadastros"><i class="fa fa-shopping-bag"></i> Cadastro</a></li>
			<li><a href="/dashboardrelatorio"><i class="fa fa-pie-chart"></i> Relatorio</a></li>
			<li><a href="/dashboardmovimentacao"><i class="fa fa-cube"></i> Movimentacao</a></li>
			<li><a href="/inicio-tcc"><i class="fa fa-tag"></i> Pagina de Vendas </a></li>

		</ul>

		
		
		

	</div>
	<div class="main">
		
		<div class="head-section">
			<div class="col-6">
				<h2>Admin Dashboard</h2>
				<p>Pagina administrativa</p>
			</div>

					<br><br>
		

	</div>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
  $(".user").click(function(){
    $(".profile-div").toggle(1000);
  });
  $(".hicon:nth-child(1)").click(function(){
    $(".notification-div").toggle(1000);
  });
  $(".sicon").click(function(){
    $(".search").toggle(1000);
  });
});
</script>

<script type="text/javascript">
	$('li').click(function(){
    $('li').removeClass("active");
    $(this).addClass("active");
});



	
</script>
</body>
</html>