<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="ISO-8859-1">
<title>Cadastro de Produto</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<style type="text/css">

html {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
</style>
</head>

<body>

<h3>Cadastro de Produto</h3>


<form action="" id="formCadastroUser" th:object="${produto}" method="post">
	
	<div class="mb-3">
	  <label for="id" class="form-label">ID</label>
	  <input type="text" class="form-control" id="id" readonly="readonly">
	</div>
	<div class="mb-3">
	  <label for="nome" class="form-label">Nome do Produto</label>
	  <input type="text" class="form-control" id="nome" placeholder="Informe o nome"  required="required">
	</div>
	<div class="mb-3">
	  <label for="nome" class="form-label">Preco</label>
	  <input type="number" class="form-control" id="preco"placeholder="Informe o preco" required="required">
	</div>
	<div class="mb-3">
	  <label for="nome" class="form-label">Descricao</label>
	  <input type="text" class="form-control" id="descricao"  placeholder="Informe a descricao" required="required">
	</div>
	<div class="mb-3">
	  <label for="nome" class="form-label">Peso</label>
	  <input type="text" id="peso"  placeholder="Informe o peso" required="required">
	</div>
	<div class="mb-3">
	  <label for="nome" class="form-label">Formato</label>
	  <input type="text" id="codFormato"  placeholder="Informe o formato" required="required">
	</div>
	<div class="mb-3">
	  <label for="nome" class="form-label">Comprimento</label>
	  <input type="text" id="comprimento"  placeholder="Informe o comprimento" required="required">
	</div>
	<div class="mb-3">
	  <label for="nome" class="form-label">Altura</label>
	  <input type="text" id="altura"  placeholder="Informe a altura" required="required">
	</div>
	<div class="mb-3">
	  <label for="nome" class="form-label">Largura</label>
	  <input type="text" id="largura"  placeholder="Informe a largura" required="required">
	</div>
	<div class="mb-3">
	  <label for="nome" class="form-label">Diametro</label>
	  <input type="text" id="diametro"  placeholder="Informe a diametro" required="required">
	</div>
	
	<div class="mb-3">
     <label for="nome" class="form-label">Categoria</label>
	  <select th:field="${categoria}" class="form-control selectpicker" id="categoriacb">
		  <option value=""> Escolha a categoria</option>
		  <option th:each="categorialol : ${categorias}"
		  					th:value="${categorialol.id}"
		  				    th:text="${categorialol.nome}">
		  </option>		
	  </select>
	</div>
	<div class="mb-3">
	  <label for="nome" class="form-label">Marca</label>
	  <select th:field="${marca}" class="form-control selectpicker" id="marcacb">
		  <option value=""> Escolha a marca</option>
		  <option th:each="marcalol : ${marcas}"
		  					th:value="${marcalol.id}"
		  				    th:text="${marcalol.nome}">
		  </option>		
	  </select>
	</div>
	<div class="mb-3">
	  <label for="nome" class="form-label">Link da Foto</label>
	  <input type="text" class="form-control" id="fotolink"  placeholder="Informe o link da foto" required="required">
	</div>
<br>
<br>

<button type="submit" class="btn btn-primary" onclick="salvarUsuario()">Salvar</button>
<button type="button" class="btn btn-secondary" onclick="document.getElementById('formCadastroUser').reset();">Novo</button>
<button type="button" class="btn btn-danger"  data-bs-toggle="modal"  data-bs-target="#modalPesquisarUser">Pesquisar</button>
<button type="button" class="btn btn-warning" onclick="botaoDeletarDaTela();">Deletar</button>






<div class="modal fade" id="modalPesquisarUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pesquisa de Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nameBusca" class="col-form-label">Informe o nome:</label>
            <input type="text" class="form-control" id="nameBusca">
          </div>
          <button type="button" class="btn btn-success" onclick="pesquisarUser()">Buscar</button>
        </form>

				<div style="height: 300px;overflow: scroll;">
					<table class="table" id="tabelaresultados">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Nome</th>
								<th scope="col">Editar</th>
								<th scope="col">Delete</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

 <!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>



<script type="text/javascript">



function botaoDeletarDaTela(){
	var id = $('#id').val();
	
	if(id != null && id.trim() != ''){
	 deleteUser(id);	
	}

}



function deleteUser(id){
	if(confirm('Deseja realmente deletar?')) {
	 $.ajax({
			method : "DELETE",
			url : "produto/cadastro/delete",
			data : "iduser=" + id ,
			success : function(response) {
				
				$('#'+ id).remove();
				alert(response);	
				document.getElementById('formCadastroUser').reset();	
				document.getElementById('modalPesquisarUser').reset();	
		}
		}).fail(function(xhr, status, errorThrown) {
			alert("Erro ao deletar marca por id: " + xhr.responseText);
		});
	}
}

  function pesquisarUser(){
     
  
	  var nome = $('#nameBusca').val();
	  if (nome != null && nome.trim() != ''){
		  $.ajax({
				method : "GET",
				url : "produto/cadastro/buscarPorNome",
				data : "name=" + nome ,
				success : function(response) {
					$('#tabelaresultados > tbody > tr').remove();
					
					for (var i = 0; i < response.length; i++){
						$('#tabelaresultados > tbody').append
						('<tr id="'+response[i].id+'"><td>'+response[i].id+'</td><td>'+response[i].nome+'</td><td><button type="button" onclick="colocarEmEdicao('+response[i].id+')" class="btn btn-primary">Ver</button></td><td><button type="button" class="btn btn-danger" onclick="deleteUser('+response[i].id+')">Delete</button></td></tr>');
					}
				  
				}
			}).fail(function(xhr, status, errorThrown) {
				alert("Erro ao buscar produto: " + xhr.responseText);
			});		  
	  }
  }
  
  function colocarEmEdicao(id) {  
   var i;
   var marcacb = document.getElementById("marcacb");
   var categoriacb = document.getElementById("categoriacb");
   var auxm = document.getElementById("auxmarca");
   var auxc = document.getElementById("auxcategoria");
  	  $.ajax({
			method : "GET",
			url : "produto/cadastro/buscarprodutoid",
			data : "idproduto=" + id ,
			success : function(response) {

				$("#id").val(response.id);
				$("#nome").val(response.nome);
				$("#preco").val(response.preco);
				$("#descricao").val(response.descricao);
				$("#fotolink").val(response.nomeImagem);
			    $("#peso").val(response.peso);
				$("#codFormato").val(response.codFormato);
				$("#comprimento").val(response.comprimento);
				$("#altura").val(response.altura);
				$("#largura").val(response.largura);
				$("#diametro").val(response.diametro);
				categoriacb.selectedIndex = response.poscategoria;
				marcacb.selectedIndex = response.posmarca;
				 while (comboCidades.length) 
				 {
     				   i="";
  				  }
			}
		}).fail(function(xhr, status, errorThrown) {
			alert("Erro ao produto por id: " + xhr.responseText);
		});
	  
	  
  }
	function salvarUsuario() {

		var id = $("#id").val();
		var nome = $("#nome").val();
		var preco = $("#preco").val();
		var descricao = $("#descricao").val();
		var nomeImagem = $("#fotolink").val();
		var peso = $("#peso").val();
		var codFormato = $("#codFormato").val();
		var comprimento = $("#comprimento").val();
		var altura = $("#altura").val();
		var largura = $("#largura").val();
		var diametro = $("#diametro").val();
		var marca = $("#marcacb").val();
		var categoria = $("#categoriacb").val();
		var selectElem = document.getElementById('marcacb')
		var pos1 = selectElem.selectedIndex;
		var selectElemcategoria = document.getElementById('categoriacb')
		var pos2 = selectElemcategoria.selectedIndex;	
		console.log(marca);
			 	
		if (nome == null || nome != null && nome.trim() == ''){
			$("#nome").focus();
			alert('Informe o nome');
			return;
		}
		
		if (preco == null){
			$("#preco").focus();
			alert('Informe o preco');
			return;
		}
	
		$.ajax({
			method : "POST",
			url : "produto/cadastro/salvar",
			data : JSON.stringify({
				id : id,
				nome : nome,
				preco : preco,
				descricao : descricao,
				marca : marca,
				categoria : categoria,
				posmarca : pos1,
				peso : peso,
				codFormato : codFormato,
				comprimento : comprimento,
				altura : altura,
				largura : largura,
				diametro : diametro,
				poscategoria : pos2,
				nomeImagem : nomeImagem
			}),
			contentType : "application/json; charset=utf-8",
			success : function(response)
			{
				if(response.marca == -1)
				{
			    	alert("Marca Invalida");
			    	$("#marca").focus();
			    	return
			    }
			     if(response.categoria == -1)
			     	{
			    	alert("Categoria Invalida");
			    	$("#categoria").focus();
			    	return
			    	}
				alert("Registro com sucesso!");
				alert("Deseja alterar ou gravar outro Produto?");
				document.getElementById('formCadastroUser').reset();
			}
		}).fail(function(xhr, status, errorThrown) {
			alert("Erro ao salvar produto: " + xhr.responseText);
		});

	}
</script>
</body>
</html>