<!DOCTYPE html><html lang="pt-br">
<head>
<meta charset="ISO-8859-1">
<title>Promocao de Produtos</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<style type="text/css">

html {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
</style>
</head>

<body>

<h3>Promocao de Produto</h3>


<form action="salvar" id="formCadastroUser" th:object="${promocao}" method="post" enctype="multipart/form-data">
<div class="form-row">
	<div class="mb-3">
	<label for="nomefunc" class="form-label btn">Funcionario</label>
	<select th:field="*{funcionario}" class="btn-secondary dropdown-toggle">
    <option value=""> Escolha o funcionario</option>
    <option th:each="funcionariolol : ${listafuncionario}"
		  					th:value="${funcionariolol.id}"
		  				    th:text="${funcionariolol.nome}">
		  </option>		
	  </select>
	</div>
	<div class="mb-3">
		 <label for="nome" class="form-label">Nome da Promocao</label>
 		 <input type="text" class="form-control " th:field="*{nome}" id="nomepromocao" required="required"><br>
	</div>
	<div class="mb-3">
		 <label for="nome" class="form-label">Data Inicial da Promocao</label>
 		 <input type="text" class="form-control" id="dataini"   th:field="*{dtini}" ><br>
	</div>
	<div class="mb-3">
		 <label for="nome" class="form-label">Data Final da Promocao</label>
 		 <input type="text" oninput="mascara(this, 'data')" class="form-control "  id="datafim" th:field="*{dtfim}"><br>
	</div>
</div>
<div class="form-row" th:object="${PromocaoItem}">
<div class="mb-3">
  <label for="nome" class="form-label">ID do Produto</label>
  <input type="text" class="form-control " th:field="*{produto.id}" id="idproduto"  readonly="readonly" required="required"><br>
</div>

<div class="mb-3">
  <label for="nome" class="form-label">Nome do Produto</label>
  <input type="text" class="form-control" th:field="*{produto.nome}" id="nome"  readonly="readonly" required="required"><br>
  <button type="button" class="btn btn-danger"  data-bs-toggle="modal"  data-bs-target="#modalPesquisarUser">Pesquisar</button>
</div>

<div class="mb-3">
  <label for="valor" class="form-label">Valor Antigo</label>
  <input type="number" class="form-control"  th:field="*{produto.preco}" id="idpreco" readonly="readonly">
</div>

<div class="mb-3">
  <label for="quantidade" class="form-label">Valor Novo</label>
  <input type="number" class="form-control" id="preconovo" th:field="*{preconovo}" placeholder="Informe o novo valor" required="required">
</div>
</div>

<div class="form-row" >
	<div class="form-group col-md-6">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Nome</th>
          <th scope="col">Valor Venda</th>
	      <th scope="col">Acao</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr  th:each="entradaslol : ${listaPromocaoItens}">
	      <td th:text="${entradaslol.produto.nome}"></td>
	      <td th:text="${entradaslol.preconovo}"></td>
	      <td> 
                      <button type="submit" name="acao" th:value="remover"class="btn btn-primary btn-xs" onclick="validar();">Remover</button>
          </td>
	   
	    </tr>

	  </tbody>
	</table>
	</div>
</div>
<div class="alert alert-danger" role="alert" th:text="${erro}"> </div>
<button type="submit" class="btn btn-primary"  name="acao" th:value="salvar" onclick="limpar(); validar();">Salvar</button>
<button type="submit" id="add" name="acao" th:value="itens" class="btn btn-primary" onclick="validar();" >ADD</button>






<div class="modal fade" id="modalPesquisarUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pesquisa de Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nameBusca" class="col-form-label">Informe o nome:</label>
            <input type="text" class="form-control" id="nameBusca">
          </div>
          <button type="button" class="btn btn-success" onclick="pesquisarUser()">Buscar</button>
        </form>

				<div style="height: 300px;overflow: scroll;">
					<table class="table" id="tabelaresultados">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Nome</th>
								<th scope="col">Editar</th>
								<th scope="col">Delete</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

 <!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>



<script type="text/javascript">

function limpar(){
	$("#nome").va
	
}

function validar(){
	var id = $("#id").val();
	var nome = $("#nomepromocao").val();
	var dataini = $("#dataini").val();
	var datafim = $("#datafim").val();
	var preconovo = $("#preconovo").val();
	
		if (nome == null || nome != null && nome.trim() == ''){
			$("#nome").focus();
			alert('Informe o nome');
			return;
		}
		
		if (dataini == null){
			$("#dataini").focus();
			alert('Informe a data inicial');
			return;
		}
		
		if (datafim == null){
			$("#datafim").focus();
			alert('Informe a data final');
			return;
		}
		if (preconovo == null){
			$("#preconovo").focus();
			alert('Informe o preco novo');
			return;
		}
}
function botaoDeletarDaTela(){
	var id = $('#id').val();
	
	if(id != null && id.trim() != ''){
	 deleteUser(id);	
	}

}



function deleteUser(id){
	if(confirm('Deseja realmente deletar?')) {
	 $.ajax({
			method : "DELETE",
			url : "/deletatudo",
			data : "idproduto=" + id ,
			success : function(response) {
			
				$('#'+ id).remove();
				alert(response);	
				document.getElementById('formCadastroUser').reset();	
		}
		}).fail(function(xhr, status, errorThrown) {
			alert("Este produto nao pode ser excluido");
		});
	}	
}
function mascara(i,t)
{
   
   var v = i.value;
   
   if(isNaN(v[v.length-1])){
      i.value = v.substring(0, v.length-1);
      return;
   }
   
   if(t == "data"){
      i.setAttribute("maxlength", "10");
      if (v.length == 2 || v.length == 5) i.value += "/";
   }

   if(t == "cpf"){
      i.setAttribute("maxlength", "14");
      if (v.length == 3 || v.length == 7) i.value += ".";
      if (v.length == 11) i.value += "-";
   }

   if(t == "cnpj"){
      i.setAttribute("maxlength", "18");
      if (v.length == 2 || v.length == 6) i.value += ".";
      if (v.length == 10) i.value += "/";
      if (v.length == 15) i.value += "-";
   }

   if(t == "cep"){
      i.setAttribute("maxlength", "9");
      if (v.length == 5) i.value += "-";
   }

   if(t == "tel"){
      if(v[0] == 9){
         i.setAttribute("maxlength", "10");
         if (v.length == 5) i.value += "-";
      }else{
         i.setAttribute("maxlength", "9");
         if (v.length == 4) i.value += "-";
      }
   }
}

  function pesquisarUser(){
     
  
	  var nome = $('#nameBusca').val();
	  if (nome != null && nome.trim() != ''){
		  $.ajax({
				method : "GET",
				url : "/buscarPorNometudo",
				data : "name=" + nome ,
				success : function(response) {
					$('#tabelaresultados > tbody > tr').remove();
					
					for (var i = 0; i < response.length; i++){
						$('#tabelaresultados > tbody').append
						('<tr id="'+response[i].id+'"><td>'+response[i].id+'</td><td>'+response[i].nome+'</td><td><button type="button" onclick="colocarEmEdicao('+response[i].id+')" class="btn btn-primary">Ver</button></td><td><button type="button" class="btn btn-danger" onclick="deleteUser('+response[i].id+')">Delete</button></td></tr>');
					}
				  
				}
			}).fail(function(xhr, status, errorThrown) {
				alert("Erro ao buscar produto: " + xhr.responseText);
			});		  
	  }
  }
  
  function colocarEmEdicao(id) {  

  	  $.ajax({
			method : "GET",
			url : "/buscarprodutoidtudo",
			data : "idproduto=" + id ,
			success : function(response) {

				$("#nome").val(response.nome);
				$("#idproduto").val(response.id);
				$("#idpreco").val(response.preco);
			}
		}).fail(function(xhr, status, errorThrown) {
			alert("Erro ao produto por id: " + xhr.responseText);
		});
	  
	  
  }
	function salvarUsuario() {

		var id = $("#id").val();
		var nome = $("#nome").val();
		var preco = $("#preco").val();
		var descricao = $("#descricao").val();
		var marca = $("#marcacb").val();
		var categoria = $("#categoriacb").val();
		var selectElem = document.getElementById('marcacb')
		var pos1 = selectElem.selectedIndex;
		var selectElemcategoria = document.getElementById('categoriacb')
		var pos2 = selectElemcategoria.selectedIndex;	
		console.log(marca);
		document.getElementById('formCadastroUser').reset();
		if (nome == null || nome != null && nome.trim() == ''){
			$("#nome").focus();
			alert('Informe o nome');
			return;
		}
		
		if (preco == null){
			$("#preco").focus();
			alert('Informe o preco');
			return;
		}
		
		$.ajax({
			method : "POST",
			url : "produto/cadastro/salvar",
			data : JSON.stringify({
				id : id,
				nome : nome,
				preco : preco,
				descricao : descricao,
				marca : marca,
				categoria : categoria,
				posmarca : pos1,
				poscategoria : pos2
			}),
			contentType : "application/json; charset=utf-8",
			success : function(response){
			 if(response.marca == -1){
			    	alert("Marca Invalida");
			    	$("#marca").focus();
			    	return
			    }
			     if(response.categoria == -1){
			    	alert("Categoria Invalida");
			    	$("#categoria").focus();
			    	return
			    }
					alert("Registro com sucesso!");
					alert("Deseja alterar ou gravar outro Produto?");
					document.getElementById('formCadastroUser').reset();
			}
		}).fail(function(xhr, status, errorThrown) {
			alert("Erro ao salvar produto: " + xhr.responseText);
		});
		document.getElementById('formCadastroUser').reset();
	}
	
</script>
</body>
</html>