<!DOCTYPE html>
<html>
<head>

 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
<title>Relatorio Rodas</title>
  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<style type="text/css">

</style>
</head>
<body>
 <header>

        <div class="li-gameBar">
            <div class="li-gameBar1">
                <img src="images/Plane.svg" class="li-gameBar-imagem"></img> 
                <div class="li-gameBar1-texto"> Frete grátis a partir de R$ 299,90</div>
            </div>
            <div class="li-gameBar2">
                <img src="images/Gift.svg" class="li-gameBar-imagem"></img> 
                <div class="li-gameBar2-texto">Ganhe um brinde a partir de R$ 359,90</div>
            </div>
        </div>

        <div class="li-barra2">
                <div class="li-lojas">
                    <div class="li-lojas-imagem"></div>
                    <a href="" class="li-barra2-texto">Nossa loja</a>
                </div>
                <div class="li-atendimento">
                    <div class="li-atendimento-imagem"></div>
                    <a href="https://api.whatsapp.com/send?phone=5518981495558&text=Bom%20dia%2C%20gostaria%20de%20entrar%20em%20contato%20com%20algum%20funcion%C3%A1rio%20da%20MGK%20Diesel." class="li-barra2-texto">Atendimento ao cliente</a>
                </div>
                <div class="li-desconto">
                    <div class="li-desconto-imagem"></div>
                    <div class="li-desconto-texto">Ganhe <span class="li-negrito">10% </span> compras acima de 1,000</div>
                </div>
                <div class="li-barra2-divisao"></div>
                <div class="li-perfil"> <a href="clilogout" class="li-barra2-texto" >'</a></div>
                <div class="li-barra2-divisao"></div>
                <div class="li-barra2-sacola">
			    
                    <div class="li-sacola"></div>
                	 <a href="/carrinho">
	                    <div class="li-notificacao-sacola">
	                        <div class="li-notificacao-numero" th:text="${carrinqnt}"></div>
	                    </div>
                	</a>
                </div>
        </div>

        <div class="li-separacao"></div>

        <div class="li-barra3">
            
            
            <nav class="li-menu">
              	<a href="inicio-tcc">Pagina Inicial</a>
                <a href="motorrel">Motor</a>
                <a href="bateriarel">Bateria</a>
                <a href="rodarel">Rodas e Pneus</a>
                <a href="suspensaorel">Suspensão</a>
            </nav>
               <div class="li-busca"  data-bs-toggle="modal"  data-bs-target="#modalPesquisarUser">


            </div>
            <div class="li-bar-menu">

            </div>   

         
        </div>

        <div class="li-separacao"></div>

        <div class="li-indicacao">
            <div class="li-indicacao-texto">Indique amigos para conhecer e ganhe cupons de desconto. <span class="li-indicacao-negrito"></a></div>
        </div>

    </header>
<div class="modal fade" id="modalPesquisarUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pesquisa de Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nameBusca" class="col-form-label">Informe o nome:</label>
            <input type="text" class="form-control" onchange="pesquisa()" id="idletra">
          </div>
          <a type="button" class="btn btn-success" href="/novalista" >Buscar</a>
        </form>
				</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

	<!-- Page Content -->
	<div class="container" layout:fragment="corpo">

		<div class="row">

			<!-- /.col-lg-3 -->

				<div class="row">

					<div class="col-lg-4 col-md-6 mb-4"
						th:each="produto : ${listaProdutos}">
						<div class="card h-100">
							<div class="card-body">
							<a href="#"><img class="img-fluid"
								th:src="${produto.nomeImagem}" /></a>
							<div class="card-body">
							
							<div class="card-body">
								<h4 class="card-title">
									<a href="#"><span th:text="${produto.nome}"></span></a>
								</h4>

								<h5>
									<span th:text="${produto.preco}"></span>
								</h5>
						 		<div class="card-footer">
									<a class="btn btn-primary btn-lg btn-block" th:href="@{/adicionarCarrinho/{id}(id=${produto.id})}" role="button">Comprar</a>
								</div>
							</div>
						</div>
					</div>
					
		</div>
				<!-- /.row -->

	
			<!-- /.col-lg-9 -->

		<!-- /.row -->

	</div>
	<!-- /.container -->


	</div>
	</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

 <!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>




    <script src="js/main.js">
function pesquisa(){ 

	 var id = $('#idletra').val();
	 $.ajax({
			method : "GET",
			url : "BUSCAPORLETRA",
			data : "id=" + id ,
			success : function() {
		}
		}).fail(function(xhr, status, errorThrown) {
			alert("Erro ao deletar marca por id: " + xhr.responseText);
		});
	
}
</script>
</body>
</html>